<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<customUI xmlns="http://schemas.microsoft.com/office/2009/07/customui">
  <ribbon>
    <tabs>
      <tab id="userformDataEntryTab" label="数据录入助手">
        <group id="userformDataEntryGroup" label="窗体交互">
          <button
            id="showDataEntryWizardButton"
            label="打开录入窗体"
            imageMso="FormControlEditBox"
            size="large"
            screentip="打开参数录入窗体"
            supertip="使用 UserForm 录入客户名称、项目名称、负责人、金额和优先级，再写入结果表。"
            onAction="__FIRST_CALLBACK_NAME__" />
          <button
            id="runDataEntrySmokeButton"
            label="执行快速示例"
            imageMso="CreateFormInDesignView"
            size="large"
            screentip="直接写入一条演示数据"
            supertip="不打开窗体，直接调用业务方法写入一条演示数据，便于 COM 冒烟测试。"
            onAction="__SECOND_CALLBACK_NAME__" />
        </group>
      </tab>
    </tabs>
  </ribbon>
</customUI>
