Option Explicit

#If VBA7 Then
    Private Declare PtrSafe Function FindWindowA Lib "user32" (ByVal lpClassName As String, ByVal lpWindowName As String) As LongPtr
    Private Declare PtrSafe Function GetWindowLongPtrA Lib "user32" (ByVal hwnd As LongPtr, ByVal nIndex As Long) As LongPtr
    Private Declare PtrSafe Function SetWindowLongPtrA Lib "user32" (ByVal hwnd As LongPtr, ByVal nIndex As Long, ByVal dwNewLong As LongPtr) As LongPtr
    Private Declare PtrSafe Function GetClientRect Lib "user32" (ByVal hwnd As LongPtr, ByRef lpRect As RECT) As Long
    Private Declare PtrSafe Function AdjustWindowRectEx Lib "user32" (ByRef lpRect As RECT, ByVal dwStyle As LongPtr, ByVal bMenu As Long, ByVal dwExStyle As LongPtr) As Long
    Private Declare PtrSafe Function SetWindowPos Lib "user32" (ByVal hwnd As LongPtr, ByVal hWndInsertAfter As LongPtr, ByVal X As Long, ByVal Y As Long, ByVal cx As Long, ByVal cy As Long, ByVal uFlags As Long) As Long
#Else
    Private Declare Function FindWindowA Lib "user32" (ByVal lpClassName As String, ByVal lpWindowName As String) As Long
    Private Declare Function GetWindowLongA Lib "user32" Alias "GetWindowLongA" (ByVal hwnd As Long, ByVal nIndex As Long) As Long
    Private Declare Function SetWindowLongA Lib "user32" Alias "SetWindowLongA" (ByVal hwnd As Long, ByVal nIndex As Long, ByVal dwNewLong As Long) As Long
    Private Declare Function GetClientRect Lib "user32" (ByVal hwnd As Long, ByRef lpRect As RECT) As Long
    Private Declare Function AdjustWindowRectEx Lib "user32" (ByRef lpRect As RECT, ByVal dwStyle As Long, ByVal bMenu As Long, ByVal dwExStyle As Long) As Long
    Private Declare Function SetWindowPos Lib "user32" (ByVal hwnd As Long, ByVal hWndInsertAfter As Long, ByVal X As Long, ByVal Y As Long, ByVal cx As Long, ByVal cy As Long, ByVal uFlags As Long) As Long
#End If

Private Type RECT
    Left As Long
    Top As Long
    Right As Long
    Bottom As Long
End Type

Private Const GWL_STYLE As Long = -16
Private Const GWL_EXSTYLE As Long = -20
Private Const WS_THICKFRAME As Long = &H40000
Private Const WS_MAXIMIZEBOX As Long = &H10000
Private Const WS_MINIMIZEBOX As Long = &H20000
Private Const SWP_NOMOVE As Long = &H2
Private Const SWP_NOZORDER As Long = &H4
Private Const SWP_FRAMECHANGED As Long = &H20

Public Sub EnableUserFormResizeAndMaximize(ByVal formCaption As String)
#If VBA7 Then
    Dim hwnd As LongPtr
    Dim styleValue As LongPtr
    Dim exStyleValue As LongPtr
#Else
    Dim hwnd As Long
    Dim styleValue As Long
    Dim exStyleValue As Long
#End If
    Dim clientRect As RECT
    Dim windowRect As RECT
    Dim targetWidth As Long
    Dim targetHeight As Long

    hwnd = FindUserFormWindowHandle(formCaption)
    If hwnd = 0 Then Exit Sub

    If GetClientRect(hwnd, clientRect) = 0 Then Exit Sub

    styleValue = GetUserFormWindowStyle(hwnd)
    exStyleValue = GetUserFormWindowExStyle(hwnd)
    styleValue = styleValue Or WS_THICKFRAME Or WS_MAXIMIZEBOX Or WS_MINIMIZEBOX
    windowRect.Left = 0
    windowRect.Top = 0
    windowRect.Right = clientRect.Right - clientRect.Left
    windowRect.Bottom = clientRect.Bottom - clientRect.Top

    If AdjustWindowRectEx(windowRect, styleValue, 0, exStyleValue) = 0 Then Exit Sub

    targetWidth = windowRect.Right - windowRect.Left
    targetHeight = windowRect.Bottom - windowRect.Top

    SetUserFormWindowStyle hwnd, styleValue
    SetWindowPos hwnd, 0, 0, 0, targetWidth, targetHeight, SWP_NOMOVE Or SWP_NOZORDER Or SWP_FRAMECHANGED
End Sub

Public Sub SetUserFormClientSize(ByVal formCaption As String, ByVal targetClientWidthPoints As Single, ByVal targetClientHeightPoints As Single)
#If VBA7 Then
    Dim hwnd As LongPtr
    Dim styleValue As LongPtr
    Dim exStyleValue As LongPtr
#Else
    Dim hwnd As Long
    Dim styleValue As Long
    Dim exStyleValue As Long
#End If
    Dim windowRect As RECT
    Dim targetWidth As Long
    Dim targetHeight As Long
    Dim targetClientWidthPixels As Long
    Dim targetClientHeightPixels As Long

    hwnd = FindUserFormWindowHandle(formCaption)
    If hwnd = 0 Then Exit Sub

    styleValue = GetUserFormWindowStyle(hwnd)
    exStyleValue = GetUserFormWindowExStyle(hwnd)
    targetClientWidthPixels = ConvertPointsXToPixels(targetClientWidthPoints)
    targetClientHeightPixels = ConvertPointsYToPixels(targetClientHeightPoints)

    windowRect.Left = 0
    windowRect.Top = 0
    windowRect.Right = targetClientWidthPixels
    windowRect.Bottom = targetClientHeightPixels

    If AdjustWindowRectEx(windowRect, styleValue, 0, exStyleValue) = 0 Then Exit Sub

    targetWidth = windowRect.Right - windowRect.Left
    targetHeight = windowRect.Bottom - windowRect.Top

    SetWindowPos hwnd, 0, 0, 0, targetWidth, targetHeight, SWP_NOMOVE Or SWP_NOZORDER Or SWP_FRAMECHANGED
End Sub

Private Function ConvertPointsXToPixels(ByVal pointValue As Single) As Long
    Dim pixelValue As Long

    On Error Resume Next
    pixelValue = Application.PointsToScreenPixelsX(CLng(pointValue))
    On Error GoTo 0

    If pixelValue <= 0 Then
        pixelValue = CLng(pointValue)
    End If

    ConvertPointsXToPixels = pixelValue
End Function

Private Function ConvertPointsYToPixels(ByVal pointValue As Single) As Long
    Dim pixelValue As Long

    On Error Resume Next
    pixelValue = Application.PointsToScreenPixelsY(CLng(pointValue))
    On Error GoTo 0

    If pixelValue <= 0 Then
        pixelValue = CLng(pointValue)
    End If

    ConvertPointsYToPixels = pixelValue
End Function

#If VBA7 Then
Private Function FindUserFormWindowHandle(ByVal formCaption As String) As LongPtr
    FindUserFormWindowHandle = FindWindowA("ThunderDFrame", formCaption)
    If FindUserFormWindowHandle = 0 Then
        FindUserFormWindowHandle = FindWindowA("ThunderXFrame", formCaption)
    End If
End Function

Private Function GetUserFormWindowStyle(ByVal hwnd As LongPtr) As LongPtr
    GetUserFormWindowStyle = GetWindowLongPtrA(hwnd, GWL_STYLE)
End Function

Private Function GetUserFormWindowExStyle(ByVal hwnd As LongPtr) As LongPtr
    GetUserFormWindowExStyle = GetWindowLongPtrA(hwnd, GWL_EXSTYLE)
End Function

Private Sub SetUserFormWindowStyle(ByVal hwnd As LongPtr, ByVal styleValue As LongPtr)
    SetWindowLongPtrA hwnd, GWL_STYLE, styleValue
End Sub
#Else
Private Function FindUserFormWindowHandle(ByVal formCaption As String) As Long
    FindUserFormWindowHandle = FindWindowA("ThunderDFrame", formCaption)
    If FindUserFormWindowHandle = 0 Then
        FindUserFormWindowHandle = FindWindowA("ThunderXFrame", formCaption)
    End If
End Function

Private Function GetUserFormWindowStyle(ByVal hwnd As Long) As Long
    GetUserFormWindowStyle = GetWindowLongA(hwnd, GWL_STYLE)
End Function

Private Function GetUserFormWindowExStyle(ByVal hwnd As Long) As Long
    GetUserFormWindowExStyle = GetWindowLongA(hwnd, GWL_EXSTYLE)
End Function

Private Sub SetUserFormWindowStyle(ByVal hwnd As Long, ByVal styleValue As Long)
    SetWindowLongA hwnd, GWL_STYLE, styleValue
End Sub
#End If
