<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<customUI xmlns="http://schemas.microsoft.com/office/2009/07/customui">
  <ribbon>
    <tabs>
      <tab id="__RIBBON_TAB_ID__" label="__RIBBON_TAB_LABEL__">
        <group id="__RIBBON_GROUP_ID__" label="__RIBBON_GROUP_LABEL__">
          <button
            id="__FIRST_BUTTON_ID__"
            label="__FIRST_BUTTON_LABEL__"
            __FIRST_BUTTON_IMAGE_XML__
            size="large"
            screentip="Run __FIRST_BUTTON_LABEL__ demo"
            supertip="Show a demo message from VBA"
            onAction="__FIRST_CALLBACK_NAME__" />
          <button
            id="__SECOND_BUTTON_ID__"
            label="__SECOND_BUTTON_LABEL__"
            __SECOND_BUTTON_IMAGE_XML__
            size="large"
            screentip="Run __SECOND_BUTTON_LABEL__ demo"
            supertip="Show a demo message from VBA"
            onAction="__SECOND_CALLBACK_NAME__" />
        </group>
      </tab>
    </tabs>
  </ribbon>
</customUI>
